html, body{
    scroll-behavior: smooth
}

#landing{
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/images/landing.jpg");
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity));
    /* background-attachment: fixed; */
}

@media(max-width: 992px){
    #landing {
        height: 100%;
        padding-top: 70px;
    }
}

@media(min-width: 992px) {
    #landing {
        height: 100vh;
    }
}

#nav{
    transition: all 0.5s ease;
}