@model PerfilUsuarioValidation

@{
    Layout = "_RegisterLayout";
}

<form class="container mx-auto max-w-4xl mt-8 p-8 bg-gray-900 rounded" method="post" style="--tw-bg-opacity: 0.75;" id="form">
    @Html.AntiForgeryToken()
    <div class="flex items-center justify-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="w-8 h-8 mr-2" src="~/images/logo.png" alt="logo">
        FitLife
    </div>
    @if (ViewData["ErrorRegister"] is not null)
    {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-red-800 dark:text-red-400" role="alert" id="alert-error" hidden>
            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="font-medium text-white">@ViewData["ErrorRegister"]</span>
            </div>
        </div>
    }
    <div class="mb-6" id="content-edad">
        <label asp-for="Edad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Edad*</label>
        <input type="number" id="edad" name="edad" asp-for="Edad"
               class="shadow-sm bg-gray-50 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        <span asp-validation-for="Edad" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-nombre"></span>
    </div>
    <div class="mb-6" id="content-altura">
        <label asp-for="Altura" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Altura*</label>
        <input type="number" id="altura" name="altura" asp-for="Altura"
               class="shadow-sm bg-gray-50 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        <span asp-validation-for="Altura" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-nombre"></span>
    </div>
    <div class="mb-6" id="content-peso">
        <label asp-for="Peso" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Peso*</label>
        <input type="number" id="peso" name="peso" asp-for="Peso"
               class="shadow-sm bg-gray-50 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        <span asp-validation-for="Peso" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-nombre"></span>
    </div>
    <div class="mb-6" id="content-sexo">
        <label asp-for="Sexo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Peso*</label>
        <select id="sexo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" asp-for="Sexo">
            <option value="masculino" selected>Masculino</option>
            <option value="femenino">Femenino</option>
        </select>
        <span asp-validation-for="Sexo" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-nombre"></span>
    </div>
    <button type="submit"
            id="buttonregister"
            class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-blue-800">
        Register
        new account
    </button>
</form>

@section script {
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
}
