@{
    Layout = "_LogLayout";
}

@{
    int idcliente = int.Parse(Context.User.FindFirstValue(ClaimTypes.NameIdentifier));
}

@section styles{
    <link href="~/css/calendario.css" />
}

@section scripthead{
    <script src="~/js/alpine.min.js"></script>
}

<div class="antialiased sans-serif bg-white dark:bg-gray-900 h-screen">
    <div x-data="app()" x-init="[initDate(@idcliente), getNoOfDays(0)]" x-cloak>
        <div class="py-2 md:py-24">
            <div class="bg-white rounded-lg shadow overflow-hidden">

                <div class="flex items-center justify-between py-2 px-6 bg-gray-200 dark:bg-gray-800">
                    <div>
                        <span x-text="MONTH_NAMES[month]" class="text-lg font-bold dark:text-white"></span>
                        <span x-text="year" class="ml-1 text-lg text-gray-600 font-normal dark:text-white"></span>
                    </div>
                    <div class="border border-gray-300 rounded-lg px-1 dark:border-white" style="padding-top: 2px;">
                        <!-- FLECHAS -->
                        <button type="button"
                                class="leading-none rounded-lg transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-700 p-1 items-center"
                                x-on:click="getNoOfDays(1)">
                            <svg class="h-6 w-6 dark:text-white text-gray-500 inline-flex leading-none" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                            </svg>
                        </button>
                        <div class="border-r inline-flex h-6"></div>
                        <button type="button"
                                class="leading-none rounded-lg transition ease-in-out duration-100 inline-flex items-center cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-700 p-1"
                                :disabled="this.month == 11 ? true : false" x-on:click="getNoOfDays(2)">
                            <svg class="h-6 w-6 dark:text-white text-gray-500 inline-flex leading-none" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </button>
                        <!-- FIN FLECHAS -->
                    </div>
                </div>

                <div class="flex items-center justify-between py-2 dark:bg-gray-800 bg-gray-200">
                    <template x-for="(day, index) in DAYS" :key="index">
                        <div style="width: 14.26%" class="px-2 py-2">
                            <div x-text="day" class="dark:text-white text-gray-600 text-sm uppercase tracking-wide font-bold text-center"></div>
                        </div>
                    </template>
                </div>

                <div class="-mx-1 -mb-1">
                    <div id="content-calendar" class="flex flex-wrap border-t border-l dark:border-white border-gray-900 dark:bg-gray-800 bg-gray-200">
                        <template x-for="blankday in blankdays">
                            <div style="width: 14.28%; height: 120px" class="text-center border-r border-b px-4 pt-2 dark:border-white border-gray-900"></div>
                        </template>
                        <template x-for="(date, dateIndex) in no_of_days" :key="dateIndex">
                            <div style="width: 14.28%; height: 120px" class="px-4 pt-2 border-r border-b relative dark:border-white border-gray-900">
                                <!-- onClick="showEventModal(date)" -->
                                <div x-text="date"
                                     data-modal-target="authentication-modal"
                                     data-modal-toggle="authentication-modal"
                                     x-on:click="clickDia(date, month, year)"
                                     class="inline-flex w-6 h-6 items-center justify-center cursor-pointer text-center leading-none rounded-full transition ease-in-out duration-100 dark:text-white"
                                     :class="{'bg-blue-500 text-white': isToday(date) == true, 'text-gray-700 dark:hover:bg-gray-700 hover:bg-blue-200': isToday(date) == false }">
                                </div>
                                <div style="height: 80px;" class="overflow-y-auto mt-1">

                                    <template x-for="event in events.filter(e => new Date(e.event_date).toDateString() ===  new Date(year, month, date).toDateString() )">
                                        <div class="px-2 py-1 rounded-lg mt-1 overflow-hidden border" :class="{
												'border-blue-200 text-blue-800 bg-blue-100': event.event_theme === 'blue',
												'border-red-200 text-red-800 bg-red-100': event.event_theme === 'red',
												'border-yellow-200 text-yellow-800 bg-yellow-100': event.event_theme === 'yellow',
												'border-green-200 text-green-800 bg-green-100': event.event_theme === 'green',
												'border-purple-200 text-purple-800 bg-purple-100': event.event_theme === 'purple'
											}">
                                            <p x-text="event.event_title" class="text-sm truncate leading-tight"></p>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </template>
                    </div>

                    <div role="status" id="loading-calendar" class="flex justify-center dark:bg-gray-900" style="padding-top: 15px">
                        <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
            <div class="relative w-full h-full max-w-md md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <div role="status" class="flex justify-center pt-3" id="loading">
                            <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div id="rutina"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</div>
@section scriptbody{
    <script src="~/js/calendario.js"></script>
    <script>
        function clickDia(dia, month, year) {
            var date = dia + "/" + (month + 1) + "/" + year
            $("#loading").show();
            $("#rutina").empty();
            $("#rutina").load("/Entrenador/_RutinaPartial?fecha=" + date, function () {
                $("#loading").hide();
            });
        }

        function clickAcordeon(element) {
            var expanded = $(element).data("expanded")
            console.log(expanded)
            if (expanded == false) {
                console.log("Entro")
                $("" + $(element).data("accordion-target")).removeClass("hidden")
                $(element).data("expanded", true)
            } else if (expanded == true) {
                console.log("Salgo")
                $("" + $(element).data("accordion-target")).addClass("hidden")
                $(element).data("expanded", false)
            }
        }
    </script>
}