@model List<UsuarioId>

<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button-2">
    @foreach (UsuarioId usuario in Model)
    {
        <li>
            <a asp-controller="" asp-action="">

            </a>
        </li>
    }
</ul>
