@model List<Ejercicio>

@{
    Layout = "_LogLayout";
}

@{
    int idcliente = (int)ViewData["IDCLIENTE"];
}

@section styles{
    <style>
        @@media (max-width: 839px) {
            .contenedor-propiedades {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        @@media (min-width: 839px) {
            .contenedor-propiedades {
                grid-template-columns: repeat(6, 1fr) 32px;
            }
        }
    </style>
}

@section scriptbody{
    <script>
        var ejercicios = @Html.Raw(Json.Serialize(Model));
        var contador = 0;
        $(document).ready(function () {
            pintarEjercicio();

            $("#mas").click(function () {
                console.log("Adios")
                pintarEjercicio();
            })

            $("#enviar").click(function(){
                var listaEjercicios = [];
                var formData = new FormData(document.querySelector('form'))
                for(let i = 1; i <= contador; i++){
                    var ejercicioname = formData.get("ejercicio" + i)
                    var series = formData.get("series" + i)        
                    var repes = formData.get("repes" + i)  
                    var bajada = formData.get("bajada" + i)  
                    var subida = formData.get("subida" + i)
                    var aguante = formData.get("aguante" + i)
                    var arroba = formData.get("arroba" + i)
                    const ejercicio = { ejercicio: ejercicioname, series: series, repes: repes, bajada: bajada, subida: subida, aguante: aguante, arroba: arroba }
                    console.log(ejercicio)
                    listaEjercicios.push(ejercicio);
                }
                var fecha = formData.get("fecha")
                $.post( "/Entrenador/CrearRutina", {fecha: fecha, ejercicios: listaEjercicios, idcliente: @idcliente}, function(){
                    window.location.reload();
                }, "json");
            })

            function pintarEjercicio(){
                console.log("Hola")
                contador++;
                var eliminar = pintarEliminar();
                var ejerciciosSelect = pintarEjercicios();
                $("#contenedor").append(
                `
                <section>
                       <div class="relative z-0 w-full mb-6 group border-t border-gray-700 pt-5">
                            <label for="ejercicio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ejercicio</label>
                            <select name="ejercicio${contador}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                ${ejerciciosSelect}
                            </select>
                        </div>
                        <div class="grid gap-6 contenedor-propiedades">
                            <div class="relative z-0 w-full mb-6 group">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Series</label>
                                <input type="number" value="0" min="0" max="10" name="series${contador}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                            </div>
                            <div class="relative z-0 w-full mb-6 group">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repes</label>
                                        <input type="number" value="0" min="0" max="10" name="repes${contador}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                            </div>
                            <div class="relative z-0 w-full mb-6 group">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bajada</label>
                                <input type="number" value="0" min="0" max="10" name="bajada${contador}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                            </div>
                            <div class="relative z-0 w-full mb-6 group">
                                 <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Subida</label>
                                 <input type="number" value="0" min="0" max="10" name="subida${contador}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                            </div>
                            <div class="relative z-0 w-full mb-6 group">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Aguante</label>
                                <input type="number" value="0" min="0" max="10" name="aguante${contador}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                            </div>
                            <div class="relative z-0 w-full mb-6 group">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Arroba</label>
                                <input type="number" value="0" min="0" max="10" name="arroba${contador}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                            </div>
                            ${eliminar}
                        </div>
                </section>
                `)
            }

            function pintarEliminar(){
                var resultado = "";
                if(contador > 1){
                    resultado =  
                    `
                    <div class="flex justify-start items-center z-0 w-full mb-6 group eliminar" onclick="clickEliminar(this, ${contador})" style="margin-top: 2rem">
                        <img src="/images/eliminar.png" class="mb-6 cursor-pointer"/>
                    </div>
                    `
                }else{
                    resultado =
                    `
                    <div class="flex justify-start items-center z-0 w-full mb-6 group" style="margin-top: 2rem">
                    </div>
                    `
                }    
                return resultado;
            }

            function pintarEjercicios(){
                var resultado = "";
                for(ejercicio of ejercicios){
                    resultado += `<option value="${ejercicio.idEjercicio}">${ejercicio.nombre}</option>`;
                }
                return resultado;
            }
        });

        function clickEliminar(element, cont) {
            var abuelo = element.closest("section");
            var siguientes = $(abuelo).nextAll();
            if(siguientes.length > 0){
                $(siguientes).each(function(){
                    var nameSelect = $(this).find("select").attr("name");
                    var newNameSelect = nameSelect.substring(0, nameSelect.length - 1) + cont;
                    $(this).find("select").attr("name", newNameSelect)

                    var nameInput = $(this).find("input").attr("name");
                    var newNameInput = nameInput.substring(0, nameInput.length - 1) + cont;
                    $(this).find("input").attr("name", newNameInput)
                    cont ++;
                })
            }
            abuelo.remove();
            contador--;
        }

    </script>
}


<form>
    <div class="mb-6">
        <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha</label>
        <input type="date" name = "fecha" id="fecha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div id="contenedor">
    </div>
    <div class="flex justify-center">
        <img src="~/images/agregar.png" id="mas" class="mb-6 cursor-pointer" />
    </div>
    <button type="button" id="enviar" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar</button>
</form>
