@model List<UsuarioPerfil>

@{
    Layout = "_LogLayout";
}


@section scriptbody{
    <script>
        $(document).ready(function() {
            var listUsuarioPerfil = @Html.Raw(Json.Serialize(Model));
            if (listUsuarioPerfil.length > 0) {
                for (const usuario of listUsuarioPerfil) {
                    pintarClientes(listUsuarioPerfil)
                }
            } else {
                $("#clientes").empty();
                $("#clientes").append(`<h1 class='text-white text-center mt-4'>NO TIENES CLIENTES</h1>`)
            }
            $("#cliente-search").keyup(function(e) {
                var tecla = e.target.value;
                if (tecla != "") {
                    const result = listUsuarioPerfil.filter(usuario => usuario.nombre.includes(tecla) || usuario.apellidos.includes(tecla));
                    if (result.length > 0) {
                        $("#añadir").show();
                        pintarClientes(result)
                    } else {
                        $("#clientes").empty();
                        $("#añadir").hide();
                        $("#clientes").append(`<h1 class='text-white text-center mt-4'>NO HAY RESULTADOS '${tecla}'</h1>`)
                    }
                } else {
                    $("#añadir").show();
                    pintarClientes(listUsuarioPerfil)
                }
            });

            function pintarClientes(list) {
                $("#clientes").empty();
                for (const usuario of list) {
                    $("#clientes").append(
                        `
                                    <div class="m-3">
                                            <a href="Entrenador/DetallesCliente?idcliente=${usuario.idUsuario}" class="block w-full mb-3 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">${usuario.nombre} ${usuario.apellidos}</h5>
                                            <p class="font-normal text-gray-700 dark:text-gray-400">DNI: ${usuario.dni}</p>
                                            <p class="font-normal text-gray-700 dark:text-gray-400">Email: ${usuario.email}</p>
                                        </a>
                                    </div>
                                    `)
                }
            }
        })
    </script>
}

    <div class="mb-4">
        <div class="relative w-full">
            <input type="search" id="cliente-search" name="search"
               class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
               placeholder="Busca un cliente..." />
        </div>
    </div>

    <!-- Modal toggle -->
    <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button" id="añadir">
        Añadir cliente
    </button>

    <div id="clientes">
    </div>

    <!-- Main modal -->
    <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full max-w-md">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="px-6 py-6 lg:px-8" style="height: 400px">
                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Añadir cliente</h3>
                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Busca un cliente">
                    <div id="dropdown-search-cliente" class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-full dark:bg-gray-600" style="height: 260px; overflow-y: auto;">
                        <ul class="text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>

                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>





