<section id="landing" class="flex align-items-center justify-center">
    <nav id="nav" class="bg-transparent px-2 sm:px-4 py-4 fixed w-full z-20 top-0 left-0">
        <!--border-b border-gray-200-->
        <div class="container mx-auto max-w-7xl flex flex-wrap items-center justify-between mx-auto">
            <a href="https://flowbite.com/" class="flex items-center ml-3 md:ml-0">
                <img src="~/images/logo.png" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo">
                <span id="titulo"
                      class="self-center text-xl font-semibold whitespace-nowrap text-white">FitLife</span>
            </a>
            <div class="flex md:order-2">
                <button id="theme-toggle" type="button"
                        class="text-gray-500 dark:text-gray-400 rounded-lg text-sm p-2.5">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                              fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
                <a asp-action="Register" asp-controller="Home"
                   class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    Sign up
                </a>
            </div>
        </div>
    </nav>
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center text-left lg:text-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-white">
                Transforma tu cuerpo, transforma tu vida.
            </h1>
            <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl text-gray-400">
                Un
                enfoque en la importancia del equilibrio entre el ejercicio y la alimentación para una vida
                saludable.
            </p>
            <a asp-action="Register" asp-controller="Home"
               class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Comienza
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
            <a href="#pilares"
               class="inline-flex items-center justify-center px-5 py-3 text-white font-medium text-center border border-gray-700 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Más información
            </a>
        </div>
        <div class="lg:mt-0 lg:col-span-5 lg:flex">
            <div class="flex flex-col w-full lg:ml-5 items-center justify-center pr-3 py-8 mx-auto md:h-screen lg:py-0">
                <div class="w-full ml-4 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        @if (ViewData["Error"] is not null)
                        {
                            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-red-800 dark:text-red-400" role="alert">
                                <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Info</span>
                                <div>
                                    <span class="font-medium text-white">@ViewData["Error"]</span>
                                </div>
                            </div>
                        }
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Sign in to your account
                        </h1>
                        <form class="space-y-4 md:space-y-6" method="post">
                            <div>
                                <label for="email"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Your
                                    email
                                </label>
                                <input type="email" name="email" id="email"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                                       placeholder="name@company.com" required="">
                            </div>
                            <div>
                                <label for="password"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                <input type="password" name="password" id="password" placeholder="••••••••"
                                       autocomplete="on"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                                       required="">
                            </div>
                            <div class="flex items-center justify-between">
                                <div class="flex items-start"></div>
                                <a href="#"
                                   class="text-sm font-medium text-green-600 hover:underline dark:text-green-500">
                                    Forgot
                                    password?
                                </a>
                            </div>
                            <button type="submit"
                                    class="w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Sign
                                in
                            </button>
                            <button type="button"
                                    class="w-full text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-800 dark:bg-white dark:border-gray-700 dark:text-gray-900 dark:hover:bg-gray-200 mr-2 mb-2">
                                <img src="~/images/google.svg" width="24" height="24" /> <span class="text-center"
                                                                                               style="width: 85%;">
                                    Continue with
                                    Google
                                </span>
                            </button>
                            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                                Don’t have an account yet? <a href="#"
                                                              class="font-medium text-green-600 hover:underline dark:text-green-700">
                                    Sign
                                    up
                                </a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="pt-8 mt-8 sm:px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6" style="padding-left: 40px; padding-right: 40px;">
    <div class="w-full mb-8 lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
            Entrenamiento
            y
            nutrición personalizados para tu transformación saludable
        </h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400 py-8">
            Descubre una nueva forma de transformar
            tu
            cuerpo
            y estilo de vida con nuestro programa de entrenamiento y nutrición personalizados. Conoce los
            pilares de nuestro enfoque único a continuación.
        </p>
    </div>
</div>
<div class="grid max-w-screen-xl px-4 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
    <div class="mx-auto px-1 place-self-center text-left lg:text-center" style="grid-column: span 6/span 6;">
        <img class="w-full transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0"
             style="height: 500px;" src="~/images/gym.jpg" alt="image description">
    </div>
    <div class="lg:mt-0 lg:col-span-5 lg:flex">
        <div class="flex flex-col w-full lg:ml-5 items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 dark:text-white">
            <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                La importancia del ejercicio físico para la salud
            </h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                El ejercicio físico es esencial para mantener una buena salud y bienestar físico y mental.
                Ayuda
                a mejorar la salud cardiovascular, prevenir y controlar la diabetes, mantener un peso
                saludable
                y reducir el estrés, la ansiedad y la depresión. Por lo tanto, es importante incorporar la
                actividad física en la rutina diaria para disfrutar de todos sus beneficios.
            </p>
        </div>
    </div>
</div>
<div class="flex items-center dark:bg-gray-800 bg-gray-200 p-6 w-full my-8" style="justify-content: space-around;">
    <div class="dark:bg-gray-700 bg-gray-400 h-1" style="width: 25%;"></div>
    <h2 class="text-3xl dark:text-white text-dark-900">Services</h2>
    <div class="dark:bg-gray-700 bg-gray-400 h-1" style="width: 25%;"></div>
</div>
<div class="container mx-auto max-w-7xl space-y-8 py-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0 pl-4"
     style="padding-top: 90px; padding-bottom: 90px;"
     id="pilares">
    <div style="margin-bottom: 20px;">
        <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
            <svg class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" fill="currentColor"
                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"></path>
            </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Entrenamientos personalizados</h3>
        <p class="text-gray-500 dark:text-gray-400 pr-4">
            Nuestros entrenadores altamente calificados y
            experimentados crean planes de entrenamiento personalizados para cada uno de nuestros clientes.
        </p>
    </div>
    <div style="margin-bottom: 20px;">
        <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
            <svg class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" fill="none" stroke="currentColor"
                 stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5">
                </path>
            </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Nutrición personalizada</h3>
        <p class="text-gray-500 dark:text-gray-400 pr-4">
            Nuestros nutricionistas diseñan planes de
            alimentación
            personalizados para ayudarte a lograr tus objetivos de salud y estado físico.
        </p>
    </div>
    <div style="margin-bottom: 20px;">
        <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
            <svg class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" fill="currentColor"
                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                      clip-rule="evenodd"></path>
                <path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z">
                </path>
            </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Equipamiento adecuado</h3>
        <p class="text-gray-500 dark:text-gray-400 pr-4">
            Contamos con un gimnasio equipado con todo lo
            necesario
            para que puedas realizar una gran variedad de ejercicios.
        </p>
    </div>
    <div style="margin-bottom: 20px;">
        <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
            <svg class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" fill="none" stroke="currentColor"
                 stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z">
                </path>
            </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Comunidad de apoyo</h3>
        <p class="text-gray-500 dark:text-gray-400 pr-4">
            En nuestra comunidad de apoyo, podrás interactuar
            con
            otros miembros, compartir tus experiencias y motivarte mutuamente.
        </p>
    </div>
    <div style="margin-bottom: 20px;">
        <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
            <svg class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" fill="none" stroke="currentColor"
                 stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25">
                </path>
            </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Tecnología</h3>
        <p class="text-gray-500 dark:text-gray-400 pr-4">
            Utilizamos la tecnología para mejorar tu
            experiencia con
            nosotros. Nuestra aplicación móvil te permite realizar un seguimiento de tu progreso.
        </p>
    </div>
    <div style="margin-bottom: 20px;">
        <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-100 lg:h-12 lg:w-12 dark:bg-blue-900">
            <svg class="w-5 h-5 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" fill="currentColor"
                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                      clip-rule="evenodd"></path>
            </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Monitoreo de progreso</h3>
        <p class="text-gray-500 dark:text-gray-400 pr-4">
            Llevamos un seguimiento del progreso de nuestros
            clientes a lo largo del tiempo para asegurarnos de que estén alcanzando sus objetivos.
        </p>
    </div>
</div>
<footer class="p-4 bg-gray-100 shadow md:flex md:items-center justify-center md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
        © 2023 <a href="https://flowbite.com/"
                  class="hover:underline">FitLife™</a>. All Rights Reserved.
    </span>
</footer>